<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="D:\home\Python311\python.exe|D:\home\Python311\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Configure Python" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" />
    <defaultDocument>
      <files>
        <clear />
        <add value="app.py" />
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.application" />
    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
    <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log" />
    <add key="FLASK_ENV" value="production" />
    <add key="PYTHONUNBUFFERED" value="1" />
  </appSettings>
</configuration>