<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <add name="PythonHandler" path="*" verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="D:\home\Python311\python.exe|D:\home\Python311\wfastcgi.py"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^static/(.*)" />
          <action type="Rewrite" url="static/{R:1}" />
        </rule>
        <rule name="FlaskApplication" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="main.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="main.py" />
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="main.app" />
    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
    <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log" />
    <add key="FLASK_APP" value="main.py" />
    <add key="FLASK_ENV" value="production" />
    <add key="SCM_DO_BUILD_DURING_DEPLOYMENT" value="true" />
    <add key="ENABLE_ORYX_BUILD" value="true" />
  </appSettings>
</configuration>