Flask==3.1.0
Jinja2==3.1.4
blinker==1.8.2
click==8.1.7
flask-login==0.6.3
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
gunicorn==21.2.0
itsdangerous==2.2.0
markupsafe==2.1.5
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.31.0
setuptools==69.5.1
sqlalchemy==2.0.31
werkzeug==3.0.3
wtforms==3.1.2
