<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="/home/site/wwwroot/startup.sh"
                  arguments=""
                  stdoutLogEnabled="true"
                  stdoutLogFile="/home/LogFiles/python.log"
                  startupTimeLimit="120"
                  requestTimeout="00:10:00">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="/home/site/wwwroot" />
        <environmentVariable name="FLASK_APP" value="main.py" />
        <environmentVariable name="FLASK_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>