<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="main.py" verb="*" modules="iisnode"/>
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryBrowseModule" resourceType="Either" requireAccess="Read" />
    </handlers>
    
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="main.py" />
      </files>
    </defaultDocument>
    
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    
    <rewrite>
      <rules>
        <rule name="StaticContent">
          <match url="^(static|assets|dist)/.*" />
          <action type="None" />
        </rule>
        <rule name="DynamicContent">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="main.py" />
        </rule>
      </rules>
    </rewrite>
    
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  
  <appSettings>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
    <add key="AZURE_WEBAPP_NAME" value="ga-hwaffmb0eqajfza5" />
    <add key="CUSTOM_DOMAIN" value="webapp.growthaccelerator.nl" />
    <add key="PM2_SERVE_PATH" value="/home/site/wwwroot/dist" />
  </appSettings>
</configuration>