<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot"/>
    <add key="WSGI_HANDLER" value="main.app"/>
    <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log"/>
    <add key="SCM_COMMAND_IDLE_TIMEOUT" value="1800"/>
    <add key="DATABASE_URL" value="%DATABASE_URL%"/>
    <add key="SESSION_SECRET" value="%SESSION_SECRET%"/>
    <add key="WORKABLE_API_KEY" value="%WORKABLE_API_KEY%"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" 
           scriptProcessor="D:\home\python311\python.exe|D:\home\python311\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    <httpErrors errorMode="Detailed"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="main.py"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>